@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: black;
}

@font-face {
  font-family: "UhBeeSeHyunBold";
  src: url("../assets/fonts/UhBee Se_hyun Bold.ttf");
}
@font-face {
  font-family: "SCoreDream4";
  src: url("../assets/fonts/SCDream4.otf");
}
@font-face {
  font-family: "GodoMaumR";
  src: url("../assets/fonts/godoMaum.ttf");
}
@font-face {
  font-family: "JustBreathe";
  src: url("../assets/fonts/JustBreathe.otf");
}
@font-face {
  font-family: "JejuGamgyul";
  src: url("../assets/fonts/JejuGamgyul.otf");
}
@font-face {
  font-family: "ICEJaram";
  src: url("../assets/fonts/ICEJaram.ttf");
}
